<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift-ViewAnimationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C39708BD1DAE3BF80051F8AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C39708D11DAE3BF90051F8AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C39708DC1DAE3BF90051F8AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
